*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #f2f2f2;
}

/* Form container */
form {
    width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Form heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Input field container */
.input-field {
    margin-bottom: 15px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs and selects */
input[type="text"],
input[type="number"],
input[type="date"]
 {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    background-color: #1f3f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
a {
    text-decoration: none;
}

button:hover {
    background-color: #22505f;
}

/* Error messages */
.errors {
    color: red;
    font-size: 13px;
    margin-top: 3px;
}

/* Required asterisk */
.required {
    color: red;
}

/* Back button smaller */
button[type="button"] {
    background-color: black;
    color:#fff;
}
button[type="button"]:hover{
    background-color: #333;
}