/* adding bg-img in body and making it cover so won't repeate and body purai ma hunxa */
body{
    font-size: 14px;
    background:#f2f2f2;
    background-image: url("../../uploads/babysitter-cover.jpg");
    background-size: cover;
}
/* yo forget password lai login btn ko right bata just mathi garna ko lagi lekheko */
.frg-pass{
    width: 90%;
    text-align: right;
}

