/* for slider */
.slider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    overflow-x:auto;           /* allows horizontal sliding */
    scroll-behavior:smooth;
    padding:10px;
}

/* Hide scrollbar (optional) */
.slider::-webkit-scrollbar{
    display:none;
}

/*  for the card */
.card{
    width:280px;               /* fixed width */
    height:430px;              /* fixed height */
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    flex-shrink:0;             /* it helps to prevents resizing the card so won't be different size */
    display:flex;
    flex-direction:column;
}

/* Fixed image size */
.card img{
    width:100%;
    height:180px;              /* fixed image area */
    object-fit:cover;          /* keeps image quality */
}

/* Content area */
.card-content{
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:8px;
    flex:1;
}

/* Name */
.name{
    font-size:20px;
    font-weight:bold;
    color:#1f3f4b;
}

/* Age */
.age{
    font-size:14px;
    color:#666;
}

/* Bio (fixed height so cards stay same size) */
.bio{
    font-size:14px;
    color:#444;
    line-height:1.4;
    
    height:60px;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 3;      /* show only 3 lines */
}

/* Show more text */
.qualification{
    margin-top:auto;
    font-size:14px;
    font-weight:bold;
    color:#1f3f4b;
    cursor:pointer;
}

.qualification:hover{
    text-decoration:underline;
}

/* for the arrow*/
.arrow{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:black;
    color:#fff;
    font-size:22px;
    cursor:pointer;
    flex-shrink:0;
    transition:0.3s;
}

.arrow:hover{
    background: #333;
}
