*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --primary-color:#003C43;
}
nav{
    background-color:var(--primary-color);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 50px;
    display: flex;
}

.logo img{
    height: 50px;
    width: auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    font: 16px;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}