/* adding bg-img in body and making it cover so won't repeate and body purai ma hunxa */
body{
    font-size: 14px;
    background: #f2f2f2;
    background-image: url("/project-1/assets/babysitter-cover.jpg");
    background-size: cover;
    /* opacity: 0.0; */
}
/* making parent and sitter btn in same line */
.role-toggle{
    width: 90%;
    display: flex;
    margin: 0;
}
/* applying css in btn of sitter and parent */
.role-btn{
    width: 50%;
    margin-top: 15px;
    display: inline;
    height: 40px;
    background-color:var(--primary-color);
    color:white;
    border-color: white;
    border: 2px solid transparent;  
}

